---
import MainLayout from "@layouts/MainLayout.astro";
import collections from "@data/collections.json";
import CardSelection from "@components/CardSelection.astro";
import {
  utilConvertToPhp,
  utilOptimizeColorVariants,
} from "src/domain/services/utilService";

export function getStaticPaths() {
  return collections.map((collection) => {
    return {
      params: {
        collection: collection.handle,
      },
      props: {
        collectionInfo: collection,
      },
    };
  });
}

interface Props {
  collectionInfo: Record<string, any>;
}

const { collectionInfo } = Astro.props as Props;

const collectionProducts = collectionInfo.products;
---

<MainLayout>
  <!-- Header -->
  <section class="py-8 border-t">
    <header class="container mx-auto px-8">
      <h1 class="text-2xl text-center text-gray-500 font-bold">
        {collectionInfo.name}
      </h1>
    </header>

    <!-- Filters -->
    <!-- <section
      class="flex text-sm text-gray-500 container mx-auto space-x-4 px-8 items-center justify-end"
    >
      <div class="flex items-center space-x-1">
        <p>Items per page</p>
        <select class="py-2 px-4 w-48 border rounded-full">
          <option>10</option>
          <option>20</option>
          <option>30</option>
        </select>
      </div>
      <div class="flex items-center space-x-1">
        <p>Sort by</p>
        <select class="py-2 px-4 w-48 border rounded-full">
          <option value="price-descending">Price, high to low</option>
          <option value="price-ascending">Price, low to high</option>
        </select>
      </div>
    </section> -->
  </section>

  <section class="container mx-auto border-t flex px-2 xl:px-0">
    <!-- Products -->
    <section class="flex-1 p-2">
      <ul class="flex flex-wrap">
        {
          collectionProducts?.map(async (product: any, index: number) => {
            const images = product?.images.nodes ?? [];
            const image = images
              ? images[images.length - 1]
              : product?.featuredImage;
            return (
              <li class="p-2 w-1/2 md:w-1/3 lg:w-1/4">
                <CardSelection
                  name={product?.title ?? ""}
                  price={
                    utilConvertToPhp(
                      product?.priceRangeV2.minVariantPrice.amount ?? 0,
                      product?.priceRangeV2.minVariantPrice.currencyCode ?? ""
                    ) ?? 0
                  }
                  secondaryImage={image?.url ?? "/images/placeholder.png"}
                  variants={utilOptimizeColorVariants(
                    product?.variants.nodes ?? []
                  )}
                  href={`/products/${product?.handle}`}
                />
              </li>
            );
          })
        }
      </ul>
    </section>
  </section>
</MainLayout>
