---
import MainLayout from "@layouts/MainLayout.astro";
import collections from "@data/collections.json";
import CardSelection from "@components/CardSelection.astro";
import {
  utilConvertToPhp,
  utilOptimizeColorVariants,
} from "src/domain/services/utilService";
import CollectionLayout from "@layouts/CollectionLayout.svelte";

export function getStaticPaths() {
  return collections.map((collection) => {
    return {
      params: {
        collection: collection.handle,
      },
      props: {
        collectionInfo: collection,
      },
    };
  });
}

interface Props {
  collectionInfo: Record<string, any>;
}

const { collectionInfo } = Astro.props as Props;

const collectionProducts = collectionInfo.products;
---

<MainLayout>
  <CollectionLayout
    client:load
    products={collectionProducts}
    name={collectionInfo.name}
  >
    <ul class="flex flex-wrap">
      {
        collectionProducts?.map(async (product: any, index: number) => {
          const images = product?.images.nodes ?? [];
          const image = images
            ? images[images.length - 1]
            : product?.featuredImage;
          return (
            <li class="w-1/4 p-2">
              <CardSelection
                name={product?.title ?? ""}
                price={
                  utilConvertToPhp(
                    product?.priceRangeV2.minVariantPrice.amount ?? 0,
                    product?.priceRangeV2.minVariantPrice.currencyCode ?? ""
                  ) ?? 0
                }
                secondaryImage={image?.url ?? "/images/placeholder.png"}
                variants={utilOptimizeColorVariants(
                  product?.variants.nodes ?? []
                )}
                href={`/products/${product?.handle}`}
              />
            </li>
          );
        })
      }
    </ul>
  </CollectionLayout>
</MainLayout>
