---
import Container from "@layouts/Container.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { Img } from "astro-imagetools/components";
---

<MainLayout>
  <section class="max-w-7xl mx-auto px-4 lg:px-8">
    <header class="my-12">
      <h1 class="text-3xl font-bold text-center tracking-widest">AFFILIATE</h1>
    </header>

    <section>
      <Img src="/images/affiliate/hero.webp" alt="Affiliate" />
    </section>

    <section>
      <header class="my-8">
        <h2 class="text-3xl font-bold text-center">
          Join the Allovinkids Affiliate Program Today!
        </h2>
      </header>

      <section class="mb-8 text-sm">
        <header>
          <h3 class="font-bold">Affiliate Program Features:</h3>
        </header>
        <section>
          <ul class="list-disc list-inside pl-4 space-y-2 mt-2">
            <li>Earn 8%-10% Commission on all sales.</li>
            <li>Great banners and text links available.</li>
            <li>Data Feeds & Widgets are available.</li>
            <li>Dedicated Affiliate Program Manager.</li>
            <li>
              Monthly newsletter with updates on promotion, contests and sales
              opportunities.
            </li>
            <li>Sign up process is free, easy and fast!</li>
          </ul>
        </section>
      </section>

      <section class="mb-8">
        <header>
          <h3 class="font-bold">Benefits for Your Customers:</h3>
        </header>
        <section>
          <ul class="list-disc list-inside pl-4 space-y-2 mt-2">
            <li>Diverse styles of Products Available.</li>
            <li>Popular Products Recommendation on Social Media.</li>
            <li>Affordable Price with adorable high quality.</li>
            <li>All-day-around Customer Service.</li>
            <li>Latest Website Offer notification.</li>
          </ul>
        </section>
      </section>

      <section class="mb-8">
        <header>
          <h3 class="font-bold">Affiliate Program Features:</h3>
        </header>
        <section>
          <p>
            Allovin - An online magic destination for quality special Occasion
            Dresses & Daily Dresses · Holiday Costume & Dressing · Boys' Sets ·
            Accessories for the little ones in your life. Combining trendy
            designs with affordable price tags, we are dedicated to bring you
            all the latest looks. ALLOVIN is a young team ,and we care a lot
            about customers' shopping experience, we do have a guarantee for our
            products and service, and we also offer them with easy return and
            friendly refund policies.
          </p>
        </section>
      </section>

      <section class="mb-8">
        <header>
          <h3 class="font-bold">JOIN US TODAY!</h3>
        </header>
        <section>
          <p>
            If you ever have any questions, you can always email us at
            service@allovinkids.com and we will respond quickly.
          </p>
        </section>
      </section>
    </section>

    <p class="font-bold text-center text-xl my-12">Here's to your success!</p>
  </section>
</MainLayout>
