---
import MainLayout from "@layouts/MainLayout.astro";
import { Img } from "astro-imagetools/components";
import collectionsJson from "@data/collections.json";

const collections = collectionsJson.contents;
---

<MainLayout>
  <!-- Hero Section -->
  <section>
    <Img src="/images/landing/hero.webp" alt="" />
  </section>
</MainLayout>
