---
import Container from "@layouts/Container.astro";
import { Img } from "astro-imagetools/components";
import XIcon from "src/assets/XIcon.astro";

const navigations = [
  {
    name: "MOMMY & ME",
    href: "/mommy-and-me",
  },
  {
    name: "GIRLS",
    href: "/girls",
  },
  {
    name: "BOYS",
    href: "/boys",
  },
  {
    name: "WOMEN",
    href: "/women",
  },
  {
    name: "EXCLUSIVES",
    href: "/exclusives",
  },
  {
    name: "ACCESORIES",
    href: "/accessories",
  },
  {
    name: "SHOP ALL",
    href: "/shop-all",
  },
  {
    name: "OUR STORY",
    href: "/our-story",
  },
];
---

<header class="sticky bg-white z-[1000] top-0 shadow-md">
  <!-- Navbar -->
  <Container className="py-2 lg:py-4">
    <!-- Top -->
    <section
      class="flex relative justify-between items-center lg:justify-center"
    >
      <!-- Menu Button for Mobile -->
      <button data-menu-btn class="space-y-1 lg:hidden">
        <div data-menu-burger class="w-8 h-1 rounded-full bg-c1"></div>
        <div data-menu-burger class="w-8 h-1 rounded-full bg-c1"></div>
        <div data-menu-burger class="w-8 h-1 rounded-full bg-c1"></div>
      </button>

      <!-- Centered Logo -->
      <a href="/" class="flex items-start space-x-2">
        <div class="w-36 lg:w-40">
          <Img src="/images/logo.webp" alt="allovin" />
        </div>
        <div
          class="px-0.5 border-c1 text-c1 border-2 font-bold rounded-sm text-xs"
        >
          PH
        </div>
      </a>

      <!-- Mobile Search -->
      <div class="relative lg:hidden">
        <!-- Button -->
        <button>
          <img class="w-6 h-6" src="/icons/magnify.svg" alt="magnify" />
        </button>
        <!-- Input -->
        <div></div>
      </div>

      <!-- Desktop Search -->
      <div
        class="hidden absolute right-0 top-1/2 -translate-y-1/2 space-x-4 lg:flex"
      >
        <div class="relative">
          <input class="border p-2 font-light text-sm" placeholder="Search" />
          <img
            class="w-6 h-6 pointer-events-none absolute right-2 top-1/2 -translate-y-1/2"
            src="/icons/magnify.svg"
            alt="magnify"
          />
        </div>
      </div>
    </section>

    <!-- Desktop Navigations -->
    <nav class="hidden mt-4 lg:block">
      <ul class="flex justify-center space-x-8">
        {
          navigations.map((link) => {
            return (
              <li class="relative">
                <a class="text-c1 text-lg font-light peer" href={link.href}>
                  {link.name}
                </a>
                <div class="absolute scale-x-0 w-full h-[0.1rem] origin-bottom-left transition bottom-0 bg-c1 peer-hover:scale-x-100" />
              </li>
            );
          })
        }
      </ul>
    </nav>
  </Container>

  <!-- Mobile Nav Menu -->
  <section
    data-mobile-menu
    class="fixed top-0 left-0 w-full h-full backdrop-blur-sm opacity-0 pointer-events-none transition"
  >
    <!-- Background -->
    <section
      data-mobile-menu-bg
      class="bg-black absolute w-full h-full opacity-50"
    >
    </section>

    <!-- Content -->
    <nav
      data-mobile-menu-nav
      class="w-full bg-white absolute h-full -translate-x-full transition md:w-96"
    >
      <ul class="flex flex-col justify-center items-center h-full py-16">
        {
          navigations.map((link) => {
            return (
              <li class="relative">
                <a class="text-c1 text-lg font-light peer" href={link.href}>
                  {link.name}
                </a>
                <div class="absolute scale-x-0 w-full h-[0.1rem] origin-bottom-left transition bottom-0 bg-c1 peer-hover:scale-x-100" />
              </li>
            );
          })
        }
        <li class="mt-auto">
          <button
            data-menu-close-btn
            class="p-2 text-white bg-red-600 rounded-full"
          >
            <div class="w-8 h-8">
              <XIcon />
            </div>
          </button>
        </li>
      </ul>
    </nav>
  </section>
</header>

<script>
  const menuBtn = document.querySelector("[data-menu-btn]")!;
  const menuCloseBtn = document.querySelector("[data-menu-close-btn]")!;
  const mobileMenu = document.querySelector("[data-mobile-menu]")!;
  const mobileMenuBg = document.querySelector("[data-mobile-menu-bg]")!;
  const mobileMenuNav = document.querySelector("[data-mobile-menu-nav]")!;

  function closeMobileMenu() {
    mobileMenu.classList.add("opacity-0");
    mobileMenu.classList.add("pointer-events-none");
    mobileMenuNav.classList.add("-translate-x-full");

    // enable body scrollbar
    document.body.style.overflow = "auto";
  }

  menuBtn.addEventListener("click", () => {
    mobileMenu.classList.remove("opacity-0");
    mobileMenu.classList.remove("pointer-events-none");
    mobileMenuNav.classList.remove("-translate-x-full");

    // disable body scrollbar
    document.body.style.overflow = "hidden";
  });

  mobileMenuBg.addEventListener("click", () => {
    closeMobileMenu();
  });

  menuCloseBtn.addEventListener("click", () => {
    closeMobileMenu();
  });
</script>
