---
import siteInfoJson from "@data/site-info.json";
import { SEO } from "astro-seo";
import Navbar from "@components/Navbar.astro";
import TopBanner from "@components/TopBanner.astro";
import Footer from "@components/Footer.astro";

interface Props {
  pageTitle?: string;
  pageDescription?: string;
  pageKeywords?: string;
  pageAuthor?: string;
}

const {
  pageTitle = siteInfoJson.pageTitle,
  pageDescription = siteInfoJson.pageDescription,
  pageKeywords = siteInfoJson.pageKeywords,
  pageAuthor = siteInfoJson.pageAuthor,
} = Astro.props as Props;
---

<html>
  <head>
    <meta charset="utf-8" />

    <!-- SEO -->
    <SEO
      title={pageTitle}
      description={pageDescription}
      extend={{
        link: [
          {
            rel: "icon",
            href: "/favicon.ico",
          },
          {
            rel: "sitemap",
            href: "/sitemap-index.xml",
          },
          {
            rel: "robots",
            href: "/robots.txt",
          },
        ],
        meta: [
          {
            name: "viewport",
            content: "width=device-width, initial-scale=1.0",
          },
          {
            name: "generator",
            content: Astro.generator,
          },
          {
            name: "keywords",
            content: pageKeywords,
          },
          {
            name: "author",
            content: pageAuthor,
          },
        ],
      }}
    />

    <!-- Mulish Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icon/favicon-16x16.png"
    />
    <link rel="icon" href="/icon/favicon.ico" />
  </head>
  <body class="font-mulish text-c950">
    <TopBanner />
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
